{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <style>
        img {
            border-radius: 50%;
        }
    </style>

<body>
    <h1 class="my-3">Delete Profile</h1>
    
    <p class="my-4">Are you sure you want to delete your profile?</p>
    
    <form class="my-3" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, delete my profile</button>
        <a href="{% url 'profile-details' %}" class="btn btn-secondary">Cancel</a>
    </form>

    <img class="my-3" src="{% static 'images/frowning-cat.jpg' %}" alt="frowning cat image">
</body>

{% endblock %}