{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/book-author-edit.css' %}">
{% endblock extra_css %}

{% block content %}
    
    <h2>Edit Book</h2>
    <form method="post" enctype="multipart/form-data" class="edit-book-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-buttons">
            <button type="submit" class="submit-btn">Save Changes</button>
            <a href="{% url 'book-details' book.pk %}" class="submit-not-btn">Cancel</a>
        </div>
    </form>
    
{% endblock %}
