{% extends 'base.html' %}
{% load static %}
{% block content %}
    
<hr>
    
<div class="row">
    {% for author in object_list %}
    <div class="col">
        <div class="card" style="width: 14rem; height: 30rem; margin: 1rem;">
            {% if author.picture %}
                <img src="{{ author.picture }}" class="card-img-top" style="height: 20rem;" alt="...">
            {% else %}
                <img src="{% static 'images/placeholder-author-icon.png' %}" class="card-img-top" alt="Default image">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">
                    {{ author }}
                </h5>
                <a href="{% url 'author-details' author.id %}" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}