.edit-comment-form {
    display: flex;
    flex-direction: column; /* Makes the form elements stack vertically */
    gap: 15px; /* Adds space between form elements */
}

textarea {
    border-radius: 8px;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
}

.btn-btn-success {
    width: auto;
    max-width: 50%;
    align-self: flex-start;
}