{% extends 'base.html' %}
{% block content %}

<br>
<div class="card mb-3" style="max-width: 840px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ book.image_url }}" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">{{ book.title }}</h4>
          <p class="card-text">Author{% if book.authors.count > 1 %}s{% endif %}: 
            {% for author in book.authors.all %}
                {{ author }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
</p>
        <hr>
          <p class="card-text">{{ book.description }}</p>
        </div>
      </div>
    </div>
  </div>
<p>Price: $ {{ book.price|floatformat:2 }}</p>
    
{% if book.book_available %}
    <a href="{% url 'checkout' book.pk %}" class="btn btn-outline-success" role="button">Buy Now</a>
{% else %}
    <h4 class="text-danger">Out of Stock !</h4>
{% endif %}
    

<!-- Comments section -->
<div class="container" style="margin-top: 30px;">
    <div class="col-9">
        {% include 'comments/comments-section.html' with book=book comment_form=comment_form %}
    </div>
</div>
{% endblock content %}