{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/books-list.css' %}">
{% endblock %}

{% block content %}
    
<hr>
    
<div class="row">
    {% for book in object_list %}
    <div class="col">
        <div class="card" style="width: 13rem;">
            {% if book.image_url %}
                <img src="{{ book.image_url }}" class="card-img-top" alt="...">
            {% else %}
                <img src="{% static 'images/placeholder-book-icon.png' %}" class="card-img-top" alt="Default image">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">
                {% if book.title|length > 25 %}
                    {{ book.title|slice:":25" }}...
                {% else %}
                    {{ book.title }}
                {% endif %}
            </h5>
                <p class="card-text">${{ book.price|floatformat:2 }}</p>                
                {% if book.book_available is True %}
                <li class="text-primary">Available</li>
                {% else %}
                <li class="text-danger">Out of Stock !</li>
                {% endif %}<br>
                <a href="{% url 'book-details' book.id %}" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}