{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <style>
    
        p {
            margin: 10px 0 ;
            font-family: cursive;
            font-weight: normal;
        }

        .container {
            border: 2px solid #FFD700;
            padding: 20px;
            margin: 20px auto; 
            max-width: 600px; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
            border-radius: 8px; 
        }

        div .container {
            background-color: #FFFAA0;
        }
        
        img {
            border-radius: 50%;;
        }
    </style>
{% endblock extra_css %}

{% block content %}
    
<body>

    <h1>Total Sales:</h1>
    <div class="container">
        <p>The total sales from all purchases are: <strong>${{ total_sales }}</strong></p>
    </div>

    <img src="{% static 'images/smiling-cat.jpg' %}" alt="amazed cat image">

</body>

{% endblock %}